<h1>Directory of Student Pages</h1>

<ul>
    <li><%= link_to 'viv-vos', viv-vos_path %></li>

<li><%= link_to 'username', username_path %></li>

  <li><%= link_to 'daltonmann', daltonmann_path %></li>

</ul>
